 <tr>
    <th> Nome </th>
    <th> Categoria </th>
    <th> Restaurante </th>
  </tr>

  <% @query.each do |f|%>
    <tr>
      <td><%= link_to "#{f.name}", Food.find(f.id) %></td>
      <td><%=f.category%></td>
      <% x = Restaurant.find(f.restaurant_id) %>
      <td><%=x.name%></td>
    </tr>
<% end %>