  <table class="filter">
    <tr>

      <th>Restaurantes</th>
      <th>Categorias</th>

    </tr>
    <tr>

      <td>
          <input type="checkbox" name="restaurant" value="1"> Central<br>
          <input type="checkbox" name="restaurant" value="2"> Física<br>
          <input type="checkbox" name="restaurant" value="3"> Química<br>
          <input type="checkbox" name="restaurant" value="4"> Prefeitura (PCO)
      </td>

      <td>
          <input type="checkbox" name="category" value="Básico"> Básico<br>
          <input type="checkbox" name="category" value="Carne"> Carne<br>
          <input type="checkbox" name="category" value="PVT"> PVT<br>
          <input type="checkbox" name="category" value="Básico"> Acompanhamento<br>
          <input type="checkbox" name="category" value="Salada"> Salada<br>
          <input type="checkbox" name="category" value="Sobremesa"> Sobremesa
      </td>
      <td>
        <p>Comida: <input type="text" name="regex" style="width: 80%;"></p><br>
        <input type="button" value="Pesquisar">
      </td>

    </tr>
  </table>

<h1> Comidas cadastradas: </h1>
<br>

<table id="result">
<%= render 'foods' %>
</table>

<%= link_to "Voltar", root_path, class: 'backbtn' %>
