/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html{
	background-color:#edffff;
	font-family: "Palatino Linotype";
	text-align: center;
}

table{
	text-align: center;
}

.menu{
	background-color:#cceeff;

	padding-top: 1%;
	padding-bottom: 1%;
    padding-right: 0.2%;
    padding-left: 0.2%;

	width:100%;
	overflow: auto;
}

.name{

	position:relative;	
	float: left;

	padding-top: 0.5%;
	padding-bottom: 0.5%;
    padding-right: 0.2%;
    padding-left: 0.2%;

	left: 0.5%;

	text-align: center;
}

.button{
	
	position:relative;
	float: right;

	margin-left: 0.8%;

	padding-top: 0.5%;
	padding-bottom: 0.5%;
    padding-right: 0.2%;
    padding-left: 0.2%;

	right: 1%;
	min-width: 100px;
	width: 10%;	
	
	background-color:#ffffff;

	text-align: center;
}

.button:hover{
	background-color:#ffffe6;
}