/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html{
	background-color:#edffff;
	font-family: "Palatino Linotype";
	text-align: center;
}

table{
	text-align: center;
}

.menu{
	background-color:#cceeff;

	padding-top: 1%;
	padding-bottom: 1%;
    padding-right: 0.2%;
    padding-left: 0.2%;

	width:100%;
	overflow: auto;
}

.name{

	position:relative;
	float: left;

	padding-top: 0.5%;
	padding-bottom: 0.5%;
    padding-right: 0.2%;
    padding-left: 0.2%;

	left: 0.5%;

	text-align: center;
}

input[type=text] {
    border: 2px solid grey;
    border-radius: 4px;
		width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.button{

	position:relative;
	float: right;
	margin-left: 0.8%;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
  padding-right: 0.2%;
  padding-left: 0.2%;
	right: 1%;
	min-width: 100px;
	width: 10%;
	background-color:#ffffff;
	text-align: center;
}

.button:hover{
	background-color:#ffffe6;
}

.submitbtn{

			background-color: #4CAF50; /* Green */
	    border: none;
	    color: white;
	    padding: 10px 22px;
	    text-align: center;
	    text-decoration: none;
	    display: inline-block;
	    font-size: 16px;
			width: 30%;
			margin-left: 35%;
			margin-right: 35%;
}

.submitbtn:hover{
	opacity: 0.7;
}

textarea {
    width: 30%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #71c5ab;
}

li {
    float: right;
}

li a {
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.active {
    background-color: #4CAF50;
    color: white;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #FFFFFF;
}
