// Place all the styles related to the Foods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Play');

.comment{
  background-color: #e4efeb;
  border-bottom: 3px solid #bbb;
  border-right:  2px solid #bbb;
  text-align: left;
  font-family: 'Play', sans-serif;
}

.search{
	background-color: #e4efeb;
	padding: 1%;
}

.filter{
	background-color: #9fc6b8;
	text-align: left;
	padding: 1%;
}

.side {
    float: left;
    width: 15%;
    margin-top: 10px;
}

.middle {
    float: left;
    width: 70%;
    margin-top: 10px;
}

/* Place text to the right */
.right {
    text-align: right;
}

/* The bar container */
.bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
}

/* Individual bars */
.bar-5 {height: 12px; background-color: #41b566;}
.bar-4 {height: 12px; background-color: #86e640;}
.bar-3 {height: 12px; background-color: #f1e655;}
.bar-2 {height: 12px; background-color: #ea8400;}
.bar-1 {height: 12px; background-color: #f44336;}
