table{
	width: 100%;
}

.std{

	background-color:#ffffff;

	border: 1px solid black;
	border-radius: 10%;

	line-height: 150%;

	padding: 1%;

	
}

.best{
	border: 3px solid #cccc00;
	border-radius: 10%;

	line-height: 150%;

	padding: 1%;

	background-color:#ffff99;

	font-weight: bold;
}