table{
	width: 100%;
}

.std{

	background-color:#ffffff;

	border: 1px solid black;
	border-radius: 3%;

	line-height: 150%;

	padding: 0.5%;

	width: 50%;
}

.best{
	border: 3px solid #cccc00;
	border-radius: 3%;

	line-height: 150%;

	padding: 0.5%;

	background-color:#ffff99;

	font-weight: bold;

	width: 50%;
}