<h1> Restaurantes: </h1>
<table>

  <% @restaurants.each do |r|%>
    <tr>
      <td><%=link_to r.name, controller:'restaurants', action:'show', id: r.id %></td>
    </tr>
  <% end %>

</table>

<%= link_to "Voltar", root_path, class: 'backbtn' %>
