<% require 'date' %>
<% date = Date.today %>


<% ["Almoço","Janta"].each do |tipo| %>

  <% bandeja = Array.new()        %>
  <% nota = Array.new()           %>

  <% 0.upto(3) do |i|             %>
  <%    bandeja[i] = Array.new()  %>
  <%    nota[i] = 0               %>
  <% end %>

  <% @records.where(meal: tipo).where(date: date).find_each do |r|                                    %>
    <%  food = Food.find(r.food_id)                                                                   %>
    <%  bandeja[food.restaurant_id-1].push(food.name)                                                 %>
    <%  review = Review.where(food_id: food.id).where(user_id: current_user.id).first                 %>
    <%  nota[food.restaurant_id-1] = nota[food.restaurant_id-1] + review.rating - 5 if !review.nil?   %>
    <% end %>

  <% 0.upto(3) do |i| %>
    <%   if bandeja[i].size < 2 %>
    <%       nota[i] = -999     %>
    <%   end                    %>
    <% end %>

  <% max = nota.max %>

<br><h1><%= tipo %></h1><br>

<table>

  <tr>
    <th> Central </th>
    <th> Física </th>
  </tr>

  
  <tr>

    <% 0.upto(1) do |n| %>

      <% if bandeja[n].size > 1 && max ==  nota[n] %>      <td class="best">
      <% else %>                                           <td class="std">
        <% end %>

      <% if bandeja[n].size > 1 %> <% bandeja[n].each do |f| %> <%= f %><br> <% end %>
      <% else %> Fechado <br>
        <% end %>

      </td>
    <% end %>

  </tr>


  <tr>
    <th> Química </th>
    <th> Prefeitura (PCO) </th>
  </tr>

  <tr>

    <% 2.upto(3) do |n| %>

      <% if bandeja[n].size > 1 && max ==  nota[n] %>      <td class="best">
      <% else %>                                           <td class="std">
        <% end %>

      <% if bandeja[n].size > 1 %> <% bandeja[n].each do |f| %> <%= f %><br> <% end %>
      <% else %> Fechado <br>
        <% end %>

      </td>
    <% end %>

  </tr>

</table>
<%end%>

<br><br><br>