<% ["Almoço","Jantar"].each do |tipo| %>

  <% bandeja, nota = getFood(tipo) %>
  <% max = nota.max %>

<br><h1><%= tipo %></h1><br>

<table>

  <tr>
    <th> Central </th>
    <th> Física </th>
  </tr>


  <tr>

    <% 0.upto(1) do |n| %>

      <% if bandeja[n].size > 1 && max ==  nota[n] %>      <td class="best">
      <% else %>                                           <td class="std">
        <% end %>

      <% if bandeja[n].size > 1 %> <% bandeja[n].each do |f| %>
        <%= link_to f.name, controller: 'reviews', action: 'new', food_id: f.id %>
        <br>
     <% end %>
      <% else %> Fechado <br>
        <% end %>

      </td>
    <% end %>

  </tr>


  <tr>
    <th> Química </th>
    <th> Prefeitura (PCO) </th>
  </tr>

  <tr>

    <% 2.upto(3) do |n| %>

      <% if bandeja[n].size > 1 && max ==  nota[n] %>      <td class="best">
      <% else %>                                           <td class="std">
        <% end %>

      <% if bandeja[n].size > 1 %> <% bandeja[n].each do |f| %>
       <%= link_to f.name, controller: 'reviews', action: 'new', food_id: f.id %>
       <br>
     <% end %>
      <% else %> Fechado <br>
        <% end %>

      </td>
    <% end %>

  </tr>

</table>
<%end%>

<br><br><br>
