<h1 class="title"> Rufinder </h1>

<p class="text"> Rufinder é um site que facilita o acesso às informações dos restaurantes universitários da USP-Butantã de São Paulo. Veja o cardápio diário, avalie as comidas e muito mais:</p>

<h2 class="subtitle">Features:</h2>

<p class="text"><b> Cardápio: </b>Veja simultaneamente todas as comidas disponíveis nos restaurantes, com a melhor opção para você em destaque.</p>

<p class="text"><b> Avaliações: </b>Não conhece alguma comida? Veja as avaliações de outros usuários ou crie uma você mesmo.</p>

<p class="text"><b> Amigos: </b>Adicione seus amigos pelo Rufinder e veja qual o melhor restaurante para irem juntos no dia.</p>

<h2 class="subtitle">Informações:</h2>

<p class="text"><b> Cardápio: </b>Atualizado a cada 30 minutos, mostra tanto o almoço quanto o jantar disponíveis nos restaurantes conforme as informações disponibilizadas pelo SAS. Você também pode ver a comida de outros dias ao clicar nos dias da semana na pagina do cardápio. </p>

<p class="text"><b> Recomendações: </b>O Rufinder automaticamente recomenda o melhor restaurante para você. Na pagina de cardápio, restaurantes verdes são os com as comidas mais bem avaliadas por você.</p>

<p class="text"><b> Avaliações: </b>Clicar no nome de alguma comida tanto no cardápio quanto na aba "Comidas" o levará para a página do alimento, onde você poderá ver a nota média e avaliações de outros usuários, além de poder criar sua própria avaliação.</p>

<p class="text"><b> Restaurantes: </b>Informações sobre os restaurantes são acessíveis tanto pela aba dos restaurantes no menu quanto clicando em seu nome dentro da página de alguma comida. Além disso, é possível deixar sua avaliação na página do restaurante.</p>

<p class="text"><b> Amigos: </b>Para adicionar amigos, acesse a aba de amigos e clique em "Adicionar Amigo". Digite corretamente o e-mail cadastrado de quem você quer adicionar e aperte o botão "Enviar". É necessário que ele tenha acessado o site pelo menos uma vez antes do convite ser enviado. Uma vez mandado, seu amigo deverá confirmá-lo.</p>

<p class="text"><b> Comer com amigos: </b>Essa função permite que o Rufinder encontre o melhor restaurante para você e seus amigos irem comer juntos, baseando-se nas avaliações de todo o grupo. Para a acessar, clique em "comer com amigos" na aba do cardápio, selecione os amigos que irão comer com você e clique no botão "Comer com amigos".</p>

<p class="text"><b> Pesquisa: </b>É possível ver e avaliar comidas anteriores atráves da aba "Comidas". Nela, você pode procurar a comida que deseja por restaurante, categoria ou escrevendo um pedaço de seu nome na caixa de texto e clicando em "Pesquisar". Caso prefira, realizar uma pesquisa com a caixa de texto vazia irá trazer todas as comidas já adicionadas.</p>