<h1 class="title"> Rufinder </h1>

<p class="text"> Rufinder é um site que facilita o acesso as informações dos restaurantes universitários da USP de São Paulo. Veja o cardápio diário, avalie as comidas e muito mais:</p>

<h2 class="subtitle">Features:</h2>

<p class="text"><b> Cardápio: </b>Veja todas as comidas disponíveis nos restaurantes simultaneamente, com a melhor opção para você em destaque.</p>

<p class="text"><b> Avaliações: </b>Não conhece alguma comida? Veja as avaliações de outros usuarios ou crie uma você mesmo.</p>

<p class="text"><b> Amigos: </b>Adicione seus amigos pelo Rufinder e veja qual o melhor restaurante para irem juntos.</p>

<h2 class="subtitle">Informações:</h2>

<p class="text"><b> Cardápio: </b>Atualizado a cada 30 minutos, mostra tanto o almoço quanto o jantar disponíveis nos restaurantes conforme as informações disponibilizadas pelo SAS. Você também pode ver a comida de outros dias dessa semana ao clicar nos dias da semana na pagina do cardapio. </p>

<p class="text"><b> Recomendações: </b>O Rufinder automaticamente recomenda o melhor restaurante para você. Na pagina de cardapio, restaurantes verdes são os com as comidas mais bem avaliadas por você.</p>

<p class="text"><b> Avaliações: </b>Clicar no nome de alguma comida tanto no cardápio quanto na aba "Comidas" o levará para a pagina do alimento, onde você vera a nota da comida, avaliações de outros usuarios e poderá criar a sua propria.</p>

<p class="text"><b> Restaurantes: </b>Informações sobre os restaurantes são acessíveis tanto pela aba dos restaurantes no menu quanto ao clicar em seu nome dentro da pagina de alguma comida. Além disso, na pagina do restaurante é possível deixar sua avaliação sobre ele.</p>

<p class="text"><b> Amigos: </b>Para adicionar amigos, acesse a aba de amigos, clique em "Adicionar Amigo", digite corretamente o e-mail de seu amigo usado para acessar o Rufinder e aperte o botão "Enviar". É necessário que ele tenha acessado o site pelo menos uma vez antes do convite ser enviado. Uma vez mandado, ele deve receber um convite de amizade, o qual deve confirmar.</p>

<p class="text"><b> Comer com amigos: </b>Essa função permite que o Rufinder encontre o melhor restaurante para você e seus amigos irem comer juntos, se baseando nas avaliações de todo o grupo. Para a acessar, clique em "comer com amigos" na aba do cardápio, selecione os amigos que irão comer com você e clique em "Comer".</p>

<p class="text"><b> Pesquisa: </b>É possível ver e avaliar comidas anteriores atráves da aba "Comidas". Nela, você pode procurar a comida que deseja pelo restaurante, categoria ou escrevendo um pedaço de seu nome na caixa de texto e clicando em "Pesquisar". Caso prefira, realizar uma pesquisa com a caixa de texto vazia irá trazer todas as comidas já adiconadas.</p>