<div class="bdiv">
<center>
    <div style="height: 25%;"></div>
    <div class="login"><br>
  	<h1><font color="black">RU-FINDER</font></h1>

  	<%= link_to "Sign in with Usp", "/auth/google_oauth2", id: "sign_in" %>

  	</form>
  </div>
</center>
</div>