<div class="bdiv">
<center>
    <div style="height: 25%;"></div>
    <div class="login"><br>

    <div>
      <%= image_tag("RUlogo.png", :class => 'imglogin') %>
    </div>

  	<%= link_to "Entre com seu e-mail USP", "/auth/google_oauth2", id: "sign_in" %>
  	</form>
  </div>
</center>
</div>




