<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <style >
  	
  	body {
    	background-image: url("login.jpg");
    	background-repeat: repeat;
	}

  </style>
  <body><center>
    <div style="background-color:#dfd8ac; width:40%; border-style:outset;">
    <br>
  	<h1><font color="blue">RU-FINDER</font></h1>

  	<form action="?">

  	Login: <input type="text" name="user"><br><br>
  	Senha: <input type="password" name="pass"><br><br>

  	<input type="submit" value="Sign In">
  	<br><br><br>

  	</form>
  </div>
  </center></body>
</html>
