<h1> Com quais amigos você vai comer? </h1>

<ul>

  <% @friends.where(receiver_id: current_user.id).where(status: true).or(@friends.where(receiver_id: current_user.id).where(status: true)).find_each do |f| %>
      <input type="checkbox" name="friend" value="1" > <%= (User.find_by(id: f.sender_id)).name %> <br>
  <% end %>

</ul>

<p>
  <%= link_to "Voltar", root_path %>
</p>
